article.win311
p.wintop
p.status
pre#reset.
  {$adj1|%adj1} {$adj1_|an adjective}
  {$adj2|%adj2} {$adj2_|an adjective}
  {$adj3|%adj3} {$adj3_|an adjective}

  {$hero|%hero} {$hero_|a name}
  {$heroAdj|%heroAdj} {$heroAdj_|an adjective}
  {$heroNoun|%heroNoun}
  {$heroHobby|%heroHobby} {$heroHobby_|a hobby}
  {$heroFear|%heroFear}
  {$heroXe|%heroXe} {$heroXim|%heroXim} {$heroXis|%heroXis}

  {$home|%home} {$home_|place of origin}
  {$homeAdj|%homeAdj}

  {$gem|%gem} {$gem_|a noun}
  {$gemHidden|%gemHidden} {$gemHidden_|a noun}
  {$gemVerbed|%gemVerbed} {$gemVerbed_|a verb (past tense)}
  {$gemAdj|%gemAdj} {$gemAdj_|an adjective}

  {$friend|%friend} {$friend_|a name}
  {$friendXe|%friendXe} {$friendXim|%friendXim} {$friendXis|%friendXis}
  +
  

#act1
  #ordinaryWorld
    p Once there was a {$heroNoun} by the name of {$Hero}. {$HeroXe} was very {$heroAdj}. In fact, that's what the people of {$Home} always used to call {$heroXim}. {$Hero} the {$heroAdj} {$heroNoun}.
    pre {$correct|%correct} {$correct_|[ "yes", "no" ]} +
    p {Wait... Is that right?|Did I get it right this time?} Hmm... {$Correct}, {$correct|EQ "yes"|it's all coming back to me now.|that doesn't make any sense. Let me try that again.}
    pre {$correct|EQ "yes"|+|#reset}
    p So anyway... Every day of {$heroXis} life, {$heroXe} liked to {$heroHobby}. It was {$heroXis} favorite thing to do. As long as {$heroXe} didn't have to deal with {$heroFear}, {$heroXe} was happy. Perhaps it was all a part of {$heroXis} {$heroAdj} nature. 
    pre .+
  #incitingIncident
    pre {$adj|%adj}
    p Then one day, just when {$Hero} was about to {$heroHobby}, {$heroXe} stumbled upon a {$gem} hidden inside a {$gemHidden}. There was something oddly {$gemAdj} about it. {$Hero} picked it up and {$gemVerbed} it. Hmmm.. Nothing happened..
    p {$Hero} couldn't lay this mystery to rest just yet. {$HeroXe} had to show it to {$heroXis} friend, {$Friend}. The ...
    pre .+
  #refusal
    pre .+
  #lockIn
    pre .+
  pre .+
#act2
  p [Act 2]
  pre .+
#act3
  p [Act 3]
  pre .+


#end
  p(style="text-align:center") THE END
  ul
    li(title="Play Again?")
      pre {{ location.reload(); }} ..+
  p Restarting...

#shuffle
  pre.
    {{
      function shuffle(arr) {
        var s, r;
        for(var i=0;i LT arr.length;i++) {
          r = Math.floor(Math.random()*arr.length);
          s = arr[i];
          arr[i] = arr[r];
          arr[r] = s;
        }
        return arr;
      }

    }} ^