pre#reset.
  {$hero|%hero} {$hero_|a name}
  {$heroAdj|%heroAdj}
  {$heroNoun|%heroNoun}
  {$heroJob|%heroJob}
  {$heroLikes|%heroLikes} {$heroLikes_|an obsession}
  {$heroMotto|%heroMotto;}
  {$heroWorkplace|%heroWorkplace}
  {$heroXe|%heroXe} {$heroXim|%heroXim} {$heroXis|%heroXis}

  {$home|%home} {$home_|place of origin}
  {$homeAdj|%homeAdj}
  +

article.checkers
#act1
  p Once there was a {$heroNoun} by the name of {$Hero}. {$HeroXe} was very {$heroAdj}. In fact, that's what the people of {$Home} always used to call {$heroXim}. {$Hero} the {$heroAdj} {$heroNoun}.
  pre {$correct|%correct} {$correct_|[ "yes", "no" ]} +
  p Wait... Is that right? Hmm... {$Correct}, {$correct|EQ "yes"|I'm sure of it now.|that was totally wrong. Let me try that again.}
  pre {$correct|EQ "yes"|+|#reset}
  p Anyway... There was this {$heroNoun} that was so obsessed with {$heroLikes}. It's like {$heroXe} always said, "{$heroMotto}". Man, {$heroXe} was so crazy about {$heroLikes} that all {$heroXis} colleagues at {$heroWorkplace}, where {$heroXe} worked as a {$heroJob}, grew tired of hearing about it.
  pre .+
#act2
  p The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
  pre .+
#act3
  p Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
  pre .+


#end
  p(style="text-align:center") THE END
  ul
    li(title="Play Again?")
      pre {{ location.reload(); }} ..+
  p Restarting...
