article.win311
p.wintop
p.status
pre#reset.
  {$cols|["verbed", "adj", "noun"]}
  {$verbeds|[]}
  {$verbed1|%verbed1} {$verbed1_|a verb (past tense)}
  {$verbed2|%verbed2} {$verbed2_|a verb (past tense)}
  {$verbed3|%verbed3} {$verbed3_|a verb (past tense)}
  {$adjs|[]}
  {$adj1|%adj1} {$adj1_|an adjective}
  {$adj2|%adj2} {$adj2_|an adjective}
  {$adj3|%adj3} {$adj3_|an adjective}
  {$nouns|[]}
  {$noun1|%noun1} {$noun1_|a noun}
  {$noun2|%noun2} {$noun2_|a noun}
  {$noun3|%noun3} {$noun3_|a noun}

  {$hero|%hero} {$hero_|a name}
  {$heroAdj|%heroAdj} {$heroAdj_|an adjective}
  {$heroNoun|%heroNoun} {$heroNoun_|a noun}
  {$heroHobby|%heroHobby} {$heroHobby_|a hobby}
  {$heroFear|%heroFear}
  {$heroHouse|%heroHouse} {$heroHouse_|place of residence}
  {$heroXe|%heroXe} {$heroXim|%heroXim} {$heroXis|%heroXis}

  {$home|%home} {$home_|place of origin}
  {$homeAdj|%homeAdj}

  {$gem|%gem} {$gem_|a noun}
  {$gemHidden|%gemHidden} {$gemHidden_|a noun}
  {$gemVerbed|%gemVerbed} {$gemVerbed_|a verb (past tense)}
  {$gemAdj|%gemAdj} {$gemAdj_|an adjective}

  {$friend|%friend} {$friend_|a name}
  {$friendXe|%friendXe} {$friendXim|%friendXim} {$friendXis|%friendXis}
  +
  

#act1
  #ordinaryWorld
    p Once there was a {$heroNoun} by the name of {$Hero}. {$HeroXe} was very {$heroAdj}. In fact, that's what the people of {$home} always used to call {$heroXim}. {$Hero} the {$heroAdj} {$heroNoun} of {$home}.
    pre {$correct|%correct} {$correct_|[ "yes", "no" ]} +
    p {Wait... Is that right?|Did I get it right this time?} Hmm... {$Correct}, {$correct|EQ "yes"|it's all coming back to me now.|that doesn't make any sense. Let me try that again.}
    pre {$correct|EQ "yes"|+|#reset}
    p So anyway... Every day of {$heroXis} life, {$heroXe} liked to {$heroHobby}. It was {$heroXis} favorite thing to do. As long as {$heroXe} didn't have to deal with {$heroFear}, {$heroXe} was happy. Perhaps it was all a part of {$heroXis} {$heroAdj} nature. 
    pre .+
  #incitingIncident
    pre {$adj|%adj}
    p Then one day, just when {$Hero} was about to {$heroXis} daily chores around the {$heroHouse}, {$heroXe} stumbled upon a {$gem} hidden inside a {$gemHidden}. There was something oddly {$gemAdj} about it. {$Hero} picked it up and {$gemVerbed} it. Hmmm.. Nothing happened..
    p {$Hero} decided to keep the {$gem} and went on to do {$heroXis} chores. First {$heroXe} {$verbed1} the {$adj1} {$noun1}, then {$verbed2} the {$adj2} {$noun2} and lastly {$verbed3} the {$adj3} {$noun3}.
    pre #collect ^
    pre #shift ^
    p Now {$Hero} could finally relax and {$heroHobby} for the rest of the day. 
    // p {$Hero} couldn't lay this mystery to rest just yet. {$HeroXe} had to show it to {$heroXis} friend, {$Friend}. The ...
    pre .+
  #refusal
    pre .+
  #lockIn
    pre .+
  pre .+
#act2
  p [Act 2]
  pre .+
#act3
  p [Act 3]
  pre .+


#end
  p(style="text-align:center") THE END
  ul
    li(title="Play Again?")
      pre {{ location.reload(); }} ..+
  p Restarting...



#collect
  pre.
    {{
      var n = $("cols");
      for(var i=1;i LTE 3;i++) {
        for(var j=0;j LT n.length;j++) {
          if ($(n[j]+i).charAt(0) !== "%") {
            $(n[j]+"s", $(n[j]+i), true);
            $(n[j]+i, "%"+n[j]+i);
          }
        }
      }
    }} ^
#shift
  pre.
    {{
      var n = $("cols");
      for(var j=0;j LT n.length;j++) {
        var col = $(n[j]+"s");
        for(var i=1;i LTE j;i++) {
          col.push(col.shift());
        }
        $(n[j]+"s", col);
      }
    }} ^
#shuffle
  pre.
    {{
      function shuffle(arr) {
        var s, r;
        for(var i=0;i LT arr.length;i++) {
          r = Math.floor(Math.random()*arr.length);
          s = arr[i];
          arr[i] = arr[r];
          arr[r] = s;
        }
        return arr;
      }
      var n = $("cols");
      for(var j=0;j LT n.length;j++) {
        $(n[j]+"s", shuffle($n[j]+"s"));
      }
    }} ^