// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html {
  font-family: 'Georgia', serif;
}

textarea {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;

  width: 100%;
  height: auto;
}

p:focus {
  box-shadow: none;
  outline: none;
}

#display {
}
